bottle==0.12.25
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
importlib-metadata==6.3.0
libsass==0.22.0
lunr==0.6.2
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.2
Pillow==9.5.0
pymdown-extensions==9.11
pypandoc==1.11
python-frontmatter==1.0.0
PyYAML==6.0
requests==2.28.2
six==1.16.0
urllib3==1.26.15
zipp==3.15.0
